*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

#root, .fullpage{
    height: 100%;
    width: 100%;
    max-width: 1440px;
    margin:auto;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.page{
    padding: 20px; 
    width: 100%;
    height: calc(100% - 100px);
}

body{
    height: 100vh;
    width: 100%;
}

a{
    text-decoration: none;
}

.form--container{
    --formPadding: 75px;
    --formWidth: 600px;
    padding: var(--formPadding);
    width: var(--formWidth);
    margin: auto;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form--notification{
    display: flex;
    width: 100%;
    font-size: 10px;
    justify-content: flex-end;
}

.form--container>.form--label, .form--button{
    display: flex;
    flex-direction: row;
    width: calc(var(--formWidth) - 2*var(--formPadding));
}

.form--label{
    justify-content: space-between;
}

.form--button{
    justify-content: space-evenly;
}


