*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

#root, .fullpage{
    height: 100%;
    width: 100%;
    max-width: 1440px;
    margin:auto;
}

body{
    height: 100vh;
    width: 100%;
}

a{
    text-decoration: none;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.page{
    padding: 20px; 
    width: 100%;
    height: calc(100% - 100px);
}

.form--container{
    --formPadding: 75px;
    --formWidth: 600px;
    padding: var(--formPadding);
    width: var(--formWidth);
    margin: auto;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form--notification{
    display: flex;
    width: 100%;
    font-size: 10px;
    justify-content: flex-end;
}

.form--container>.form--label, .form--button{
    display: flex;
    flex-direction: row;
    width: calc(var(--formWidth) - 2*var(--formPadding));
}

.form--label{
    justify-content: space-between;
}

.form--button{
    justify-content: space-evenly;
}


.section--container{
    --sectionHeight: 320px;
    width: 100%;
    height: var(--sectionHeight);
    border-radius: 3px;
    overflow: hidden;
}

.section--title{
    height: 30px;
    font-size: 20px;
    font-weight: 500;
    display: flex;
    align-items: center;
    padding-left: 10px;
}

.section--content{
    width: 100%;
    height:  calc(var(--sectionHeight) - 30px);
    display: flex;
    flex-direction: row;
    align-items: center;
}

.section--content>:first-child{
    margin-left: 5px;
}

.section--content>:last-child{
    margin-right: 5px;
}

.section--content--items{
    width: 100%;
    height: 96%;
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow-x: hidden;
    margin: 0 5px;
    border-radius: 3px;
}

.section--content--arrow{
    --arrowSize: 50px;
    width: var(--arrowSize);
    height: var(--arrowSize);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-weight: bolder;
}

.item--container{
    height: 96%;
    width: 200px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 7px;
}

.item--image--container{
    height: 200px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.item--image{
    height: 96%;
    width: 96%;
    object-fit:fill;
}

.item--desc{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.item--desc--title{
    font-size: 20px;
    font-weight: 600;
}

.item--desc--info{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-evenly;
}




