*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

#root, .fullpage{
    height: 100%;
    width: 100%;
    max-width: 1440px;
    margin:auto;
}

body{
    height: 100vh;
    width: 100%;
}

button{
    cursor: pointer;
}

a{
    text-decoration: none;
    color: inherit;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.page{
    padding: 20px; 
    width: 100%;
    height:fit-content;
    min-height: calc(100% - 100px);
}

.form--container{
    --formPadding: 75px;
    --formWidth: 600px;
    padding: var(--formPadding);
    width: var(--formWidth);
    margin: auto;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form--notification{
    display: flex;
    width: 100%;
    font-size: 10px;
    justify-content: flex-end;
    margin-top:3px;
}

.form--notification--lines{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    height: 100%;
}

.form--container>.form--label, .form--button{
    display: flex;
    flex-direction: row;
    width: calc(var(--formWidth) - 2*var(--formPadding));
}

.form--label{
    justify-content: space-between;
}

.form--button{
    justify-content: space-evenly;
}

.section--container{
    width: 100%;
    height: 100%;
    border-radius: 3px;
    align-items: center;
}

.section--title{
    height: 30px;
    font-size: 20px;
    font-weight: 600;
    display: flex;
    align-items: center;
    padding-left: 10px;
}

.item--container{
    height: fit-content;
    width: fit-content;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px auto;

}

.item--image--container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    margin: 5px;
}

.item--image{
    height: 96%;
    width: 96%;
    object-fit:fill;
}

.item--desc{
    height: 60px;
    width: 95%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 3px;
}

.item--desc--title{
    font-size: 20px;
    font-weight: 600;
}

.item--desc--info{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-evenly;
}

.item--section--spacing{
    margin-bottom: 20px;
}


.profile--container{
    margin: 10px;
    width: calc(100%-10px);
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
}

.profile--section{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.profile--content--title{
    font-size: 20px;
    font-weight: 600;
    border-bottom: 3px solid;
}

.profile--content--section{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    padding: 20px;
    justify-content: space-between;
}


.profile--content--info{
    display: flex;
    flex-direction: column;
    width:fit-content;
    height: 100%;
}

.profile--content--info>:first-child{
    font-weight: bold;
}

.profile--content--info--container{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between
}

.profile--content--button{
    display: flex;
    flex-direction: column;
    margin-left: 100px;
    width: 200px;
    height: 100%;
    justify-content: flex-end;
} 

.profile--content--items{
    width: 48%;
}

.auction--container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
}

.auction--section--left{
    width: 69%;  
    height: 100%;
    display:flex;
    flex-direction: column;
}

.auction--section--right{
    width: 30%;  
    height: 100%;
}

.auction--left--upper{
    height: 70%;
    margin-bottom: 20px;
}

.auction--left--bottom{
    height: fit-content;
}

.auction--text{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 30px;
}

.auction--text>p{
    font-size: 16px;
    font-weight: 600;
}

.auction--image--section{
    width: 100%;
    height: calc(100% - 30px);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.auction--image--selected{
    width: 65%;
    margin: 10px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

}

.auction--image--preview--container{
    width: 35%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.auction--image--preview{
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.chat--container{
    height: 100%;
    display: flex;
    flex-direction: column;
}

.chat--leader{
    height: 150px;
}

.chat--message--container{
    height: calc(100% - 150px);
    overflow-y: scroll;
}

.chat--message{
    height: 100px;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.chat--message--left{
    height: 100%;
    width: 50%;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.chat--message--left--profile, .chat--message--right--emoji{
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.chat--message--right{
    height: 100%;
    width: 50%;
    padding: 5px;
}

.emoji--container{
    margin-top: 10px;
    height: calc(20% - 10px);
    width: 100%;
    display: flex;
    flex-direction: row;
}

.emoji--box{
    height: 50%;
    width: 20%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.img-uploader--container{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.img-uploader--images--container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.img-uploader--image{
    width: 200px;
    height: 200px;
    margin-right: 10px;
    flex-shrink: 0;
    object-fit: fill;
}

.img-uploader--button--container{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

.img-uploader--button{
    width: 200px;
    height: 20px;
    align-self: center;
}

.day--container{
    width: fit-content;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.day--title{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}